.left-img-login {
  border-radius: 50%;
  &:hover {
    box-shadow: 0px 0px 30px -14px var(--primary);
    transition: 0.2s ease-in-out;
  }
}

.divisor {
  border-bottom: 1px solid white;
  opacity: 10%;
}

::ng-deep .mdc-text-field {
  background-color: var(--grey-mid) !important;

  color: #ff4081;
  color: #f50057;
  color: #c51162;
  color: #880e4f;
  color: #ba68c8;

  color: #e0feff;
  color: #b3fcff;
  color: #80fbff;
  color: #4df9ff;
  color: #26f7ff;
}
